@use './var.scss' as v;

.conatiner-currrent{
    width: 100%;
}
.current-box{
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    .current-name{
        text-align: center;
        margin: 1rem 0;
        font-size: 1.5rem;
    }
    .current-img-temp-box{
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        .current-temp{
            font-size: 2rem;
            align-items: center;
        }
    }
    .current-feelslike{
        text-align: center;
        margin: 1rem 0;
    }
    .current-temp-box{
        font-size: 1rem;
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        .tilde{
            padding: 0 5px;
        }
        .current-mintemp{
            color: lightsteelblue;
        }
        .current-maxtemp{
            color: red;
        }
    }
    .current-humidity{
        text-align: center;
    }
}
@mixin web {
    @media screen and (min-width:(v.$wb)) {
        @content;
    }
}
.current-box{
    @include web{
        width: 80%;
        margin: 0 auto;
        border: 1px solid black;
        .current-name{
            text-align: center;
            margin: 1rem 0;
            font-size: 3rem;
        }
        .current-img-temp-box{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 0;
            .current-temp{
                font-size: 2.5rem;
                align-items: center;
            }
        }
        // .current-feels-tem{
        //     display: flex;
        //     justify-content: space-evenly;
        // }
        .current-feelslike{
            margin: 1rem 0;
        }
        .current-temp-box{
            margin: 1rem 0;
            font-size: 2rem;
            font-size: 2rem;
            .current-mintemp{
                color: lightsteelblue;
            }
            .current-maxtemp{
                color: red;
            }
            .tilde{
                padding: 0 5px;
            }
        }
        .current-humidity{
            font-size: 2rem;
        }
    }
}