@use './atsu.scss';
@use './asafe.scss';
@use './umut.scss';

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://www.holland.com/upload_mm/d/3/4/68943_fullimage_hollandse%20luchten%20olha%20rohulya%20via%20shutterstock_1150x664.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}




